.full_grid_with_background_image .col_grid_container {
    width: 95%;
    position: relative;
}

.full_grid_with_background_image .snap_group_all {
    width: 96%;
    position: absolute;
    top: 46px;
    left: 48px;
    text-align: left;
    line-height: 45px;
}
.reading_slide .background_img{
    height: 608px !important;
}

/* =========================== */
.grid_without_background_image .col_grid_container{
    background-color: #ffe8d1;
    padding: 50px;
}
/* =========================== */
.options{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100% !important
}

/* .full_grid_without_background_image .ss_text img{
    height: 97px;
} */
/* ====================================== */
.pulse {
    animation: pulse 1s infinite ease-in-out alternate;
  }
  @keyframes pulse {
    from { transform: scale(0.95); }
    to { transform: scale(1.0); }
  }
/* ====================================== */

.slide_text .col_grid_container{
    width: 1065px;
}
.slide_text .ss_text{
    font-size: 28px;
}

.slide_text .ss_text img{
    height: 72px;
}

.slide_text .snap_group_all{
    line-height: 180px;
}

.slide_text .mid_img{
    height: 150px !important;
}

.slide_text .mid_img:first-child{
    margin-left: -50px;
}

.slide_text .audioIcon:hover {
    transform: scale(1.05);
}
/* ================================= */

.slide_text_with_img .conv_img{
    height: 140px !important;
    margin-top: -24px;
}

.slide_text_with_img .left_image{
    height: 450px !important;
    position: absolute;
}

.slide_text_with_img .snap_group_3{
    /* margin-top: -350px; */
}
.slide_text_with_img .snap_group_all{
    line-height: 106px;
}
/* ================================== */
.slide_3{
    height: 287px !important;
}