.all_cont{
    height: 100%;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}
.screen_elements{
    width: 90%;
    /* position: relative; */
}

.group_elm{
    width: 100%;
}

.page_sub_title b{
    color: #000000;
}

.image_space {
    width: 100%;
    height: 160px;
}
  
.image_space img {
    height: 100%;
    width: auto;
    object-fit: contain;
}

/* ==================================== */
.q_order{
    position: absolute;
    top: 20px;
    left: 10px;
    font-weight: bolder;
}
/* ************************************** */
.ques{
    /* width: 90% !important; */
    align-items: center;
    padding: 15px;
}

/* ==================================== */
.fill_in .que {
    width: 100%;
    position: relative;
}

.q_box{
    width: 23%;
    margin: 10px 5px; 
    padding: 5px 10px; 
}

.txt_wrap{
    width: 100%;
    margin-top: 10px;
}

.txtBox {
    font-family: Arcon;
    font-size: 25px;
    color: black;
    width: fit-content;
    align-items: center;
    margin: 3px auto;
    flex-wrap: wrap;
}

.item {
    flex: 1 1 33.333%;
}

.audioIcon{
    /* margin-right: 22px !important; */
}

.txtBox input:focus{
    outline: none;
}

.r-choice {
    text-align: left; 
}

.que_1_2 {
    height: 100px;
}

.txt-audioIcon{
    padding-left: 20px;
    color: rgb(0, 185, 242);
}

.txtBox input {
    width: 155px;
    height: 45px;
    color: black;
    font-size: 38px;
    border: none;
    text-align: center;
    border-bottom: 2px solid rgb(68, 68, 68);
}

.icon_wrap {
    margin-left: 228px;
    margin-top: -40px;
}

.tick,
.cross {
    width: 35px;
}

.tick img,
.cross img {
    width: 100%;
}

.image_wrap {
    display: none;
}

.clue_word {
    width: 55px;
    height: 50px;
    text-align: center;
    color: #00aeef;
    border: 1px solid #8b8d90;
    background-color: #e6e7e8;
}

.word_options {
    width: 85%;
    /* padding: 10px; */
    border-radius: 10px;
   
}

.word_opt_sticky {
    width: 100%;
    margin: 0px auto;
    position: -webkit-sticky;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 5;
    border: 2px solid var(--temp);
    border-radius: 10px;
}

.words-list li{
    height: 110px;
    font-weight: bolder;
    color: black;
    border: 1px solid black;
    align-items: center;
    display: flex;
    justify-content: center;
}




/* ************************************************* */
/* ************************************************* */
@media (max-width: 991.98px) {
    .fill_in .que {
        width: 160px;
    }
}

@media (max-width: 575.98px) {
    .fill_in .que {
        width: 200px;
    }
}

@media (max-width: 475.98px) {
    /* .fill_in .que {
        width: 200px;
    } */
}