.all_cont {
  width: 100%;
  height: 100%;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

.screen_elements {
  width: 90%;
  height: 100% !important;
}

.group_elm {
  width: 100%;
  height: 100%;
  font-size: 25px;
  column-gap: 300px;
}

.audio_icon {
  height: 39px;
  padding: 1px;
}

.image_gap {
  height: 100%;
  width: intrinsic;
  width: -moz-max-content;
  width: -webkit-max-content;
  width: max-content;
}

.img_fillin_gr {
  width: 225px;
  position: relative;
  margin: 0px;
  font-size: 28px;
}

.image_space {
  /* width: 220px; */
  /* height: 235px; */
}

.image_space img {
  /* width: 100%; */
  height: 254px;
  object-fit: contain;
}

.textFront{
  margin: 2px auto;
  font-weight: bolder;
  font-size: 32px;
}

.fillin_gr {
  position: relative;
  /* height: 65px; */
}

.fillin_set {
  width: 60px;
  margin-top: 10px;
  font-size: 28px;
  position: absolute;
  right: 0px;
  bottom: 30px;
  margin: 0px auto;
  text-align: center !important;
  border-radius: 50px;
  background-color: #fff;
  border: 2px solid #0fc4f1;
}
.q_space{
  margin: 0px auto;
}

.fillin_set .txt-audioIcon {
  margin-bottom: -50px;
  margin-left: 20px;
}

.fillin_gr input {
  /* width: 300px; */
  flex: 1;
  background-color: transparent;
  border: none;
  /* border-bottom: 2px solid black; */
  text-align: center;
  font-size: 33px;
  height: 36px;
  margin: 2px 0px;
}

.fillin_gr input:focus {
  outline: none;
}

.fillin_gr .icon_wrap_holder {
  position: absolute;
  top: 0px;
  right: 10px;
}


.icon_wrap {
  position: absolute;
  bottom: 0;
}

.tick,
.cross {
  width: 32px;
  height: 32px;
}

.clue_word {
  margin: 6px;
  color: #000;
}

.word_options {
  width: 90%;
  border: 2px solid var(--temp);
  border-radius: 20px;
  margin-bottom: 20px;
  background-color: white;
  font-size: 20px;
}

.word_opt_sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 5;
}

/**** popup window ***/

/* ====================================================== */
/*              Media Queries Start                       */
/* ====================================================== */
/* ------------------------------------------------ */
/*              M Q max-width: 1799.98px */
/* ------------------------------------------------*/
/* // Large devices (desktops, less than 1800px) */
@media (max-width: 1799.98px) {}

/* ------------------------------------------------ */
/*              M Q max-width: 1399.98px */
/* ------------------------------------------------*/
/* // Large devices (desktops, less than 1400px) */
@media (max-width: 1399.98px) {}

/* ------------------------------------------------ */
/*              M Q max-width: 1199.98px */
/* ------------------------------------------------*/
/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  .word_options {
    margin-bottom: 1vh;
  }

  .img_fillin_gr {
    width: 268px;
  }
  
.screen_elements {
  height: 100% !important;
}
}

/* ------------------------------------------------ */
/*              M Q max-width: 991.98px */
/* ------------------------------------------------*/
/* // Medium devices (tablets, less than 992px) 768 to 991.98 */
@media (max-width: 991.98px) {}

/* ------------------------------------------------ */
/* M Q max-width: 767.98px */
/* ------------------------------------------------*/
/* // Small devices (landscape phones, less than 768px) 576 to 767.98*/
@media (max-width: 767.98px) {}

/* ------------------------------------------------ */
/* M Q max-width: 575.98px */
/* ------------------------------------------------*/
/* // Extra small devices (portrait phones, less than 576px) 476 to 575*/
@media (max-width: 575.98px) {}

/* ------------------------------------------------ */
/*              M Q max-width: 475.98px             */
/* ------------------------------------------------*/
/* body working fine 320 to 475 */
@media (max-width: 475.98px) {}