.all_cont{
    height: 100%;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}
.screen_elements{
    width: 80%;
    height: 100%;
}

.group_elm{
    width: 100%;
}

:root {
    --temp: #71bfe6;
}

.image_gap {
    height: 100%;
    width: intrinsic;
    width: -moz-max-content;
    width: -webkit-max-content;
    width: max-content;
}



.fillin_gr input {
    border: none;
    flex: 1;
    text-align: center;
    border: 2px solid var(--temp);
    border-radius: 10px; 
}

.fillin_gr input:focus{
    outline: none;
}

.que{
    width: 300px;
}

.fillin_gr .icon_wrap_holder {
    position: absolute;
    top: 10px;
    right: 10px;
}

.fillin_gr {
    position: relative;
}

.fillin_set{
    width: 100%;
    padding: 15px 0px ;
    position: absolute;
    bottom: 10px;
    left: 0;
}

.q_order{
    position: absolute;
    left: 50px;
    width: 50px;
    height: 50px;
    z-index: 100;
    padding: 7px;
    border-radius: 15px;
    background-color: #fff;
    border: 2px solid var(--temp);
}

.card{
    width: 300px;
    height: 421px;
    padding: 10px;
    margin: 0px 30px;
    border: none;
    font-size: 24px ;
    background-color: transparent;
    align-items: center !important;

}
.red{
    color: red;
}

.card img{
    width: 270px;
    /* height: 175px; */
    object-fit: contain;
    margin-bottom: 0px;
    border-radius: 15px;
}

.card-body{
    padding: 5px ;
    width: 100%;
    margin-top: -100px;
    text-align: center;
    align-items: center;
}
.card-body .txt-audioIcon{
    margin: 0px auto;
    font-size: 25px;
    font-weight: bolder;
}
.icon_wrap{
    margin-top: 350px;
    margin-left: -40px;
}

.tick,
.cross {
    width: 32px;
    height: 32px;
}

.clue_word {
    margin: 7px;
    padding: 0px 27px;
}

.word_options {
    border-radius: 17px;
    background-color: #cae8f886;
    border: 2px solid var(--temp);
}

.word_opt_sticky {
    position: -webkit-sticky;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 5;
}

.pr-15 {
    padding-right: 15px;
}

/**** popup window ***/


/* ====================================================== */


/*              Media Queries Start                       */


/* ====================================================== */


/* ------------------------------------------------ */


/*              M Q max-width: 1799.98px */


/* ------------------------------------------------*/


/* // Large devices (desktops, less than 1800px) */

@media (max-width: 1799.98px) {}


/* ------------------------------------------------ */


/*              M Q max-width: 1399.98px */


/* ------------------------------------------------*/


/* // Large devices (desktops, less than 1400px) */

@media (max-width: 1399.98px) {
    .img_fillin_gr {
        width: 60%;
    }
}


/* ------------------------------------------------ */


/*              M Q max-width: 1199.98px */


/* ------------------------------------------------*/


/* // Large devices (desktops, less than 1200px) */

@media (max-width: 1199.98px) {
    .word_options {
        margin-bottom: 1vh;
    }
}


/* ------------------------------------------------ */


/*              M Q max-width: 991.98px */


/* ------------------------------------------------*/


/* // Medium devices (tablets, less than 992px) 768 to 991.98 */

@media (max-width: 991.98px) {
    .img_fillin_gr {
        width: 85%;
    }
}


/* ------------------------------------------------ */


/* M Q max-width: 767.98px */


/* ------------------------------------------------*/


/* // Small devices (landscape phones, less than 768px) 576 to 767.98*/

@media (max-width: 767.98px) {

    .image_gap {
        margin: auto;
    }

    .img_fillin_gr {
        width: 95%;
    }

    .fillin_set {
        padding-right: 20px;
    }

    .tick,
    .cross {
        width: 20px;
        height: 20px;
    }

}


/* ------------------------------------------------ */


/* M Q max-width: 575.98px */


/* ------------------------------------------------*/


/* // Extra small devices (portrait phones, less than 576px) 476 to 575*/

@media (max-width: 575.98px) {}


/* ------------------------------------------------ */


/*              M Q max-width: 475.98px             */


/* ------------------------------------------------*/


/* body working fine 320 to 475 */

@media (max-width: 475.98px) {
    .img_fillin_gr {
        width: auto;
    }
}