.all_cont{
    height: 100%;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}
.screen_elements{
    width: 90%;
    height: 100%;
}

.group_elm{
    width: 100%;
}

.image_space {
    width: 792px;
    height: 480px;
}
  
.image_space img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}



/* ==================================== */
.q_order{
    width: 50px;
}
/* ************************************** */
.ques{
    width: 300px;
    align-items: center;
    padding: 10px;
    text-align: center;
}

/* ==================================== */
.q_box{
    width:  95%;
    margin: 11px 8px;
    padding: 5px 10px; 
}

.fill_in .que {
    width: 100%;
}

.txtBox {
    font-family: Arcon;
    font-size: 25px;
    color: black;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.item {
    flex: 1 1 33.333%;
}

.txtBox input:focus{
    outline: none;
}

.r-choice {
    text-align: left; 
}

.que_1_2 {
    height: 100px;
}

.txt-audioIcon{
    padding-left: 7px;
    padding-top: 0px;
    margin-top: -4px;
}

.txtBox input {
    width: 40px;
    height: 40px;
    color: black;
    text-align: center;
    border: none;
    border-radius: 10px;
    border: 2px solid rgb(0, 185, 242);
}

.icon_wrap {
    position: absolute;
    margin-left: 224px;
    margin-top: -35px;
}

.tick,
.cross {
    width: 35px;
}

.tick img,
.cross img {
    width: 100%;
}

.image_wrap {
    display: none;
}
.clue_word {
    margin: 5px;
    padding: 0px 12px;
}

.word_options {
    width: 100%;
    font-size: 23px;
    border: 2px solid var(--temp);
    border-radius: 20px;
    margin-bottom: 15px;
}

.word_opt_sticky {
    position: -webkit-sticky;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 5;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.words-list li{
    height: 110px;
    font-weight: bolder;
    color: black;
    border: 1px solid black;
    align-items: center;
    display: flex;
    justify-content: center;
}

.image-container{
    position: absolute;
    right: 40px;
    bottom: 20px;
    width: 150px;
    height: 160px;
}
.image-container img{
    width: 100% !important;
    height: 100% !important;
    object-fit: contain;
}
/* ************************************************* */
/* ************************************************* */
@media (max-width: 991.98px) {
    .fill_in .que {
        width: 160px;
    }
}

@media (max-width: 575.98px) {
    .fill_in .que {
        width: 200px;
    }
}

@media (max-width: 475.98px) {
    /* .fill_in .que {
        width: 200px;
    } */
}