.all_cont{
    /* height: 100%; */
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}
.screen_elements{
    width: 90%;
    height: 100%;
}

.group_elm{
    /* width: 80%; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.activityHeading b {
    color: #000;
}

.q_num_space{
    width: 40px;
    font-weight: bold;
}

.image_space {
    width: 150px;
    height: auto;
    margin: 0px auto;
}
  
.image_space img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.q_order{
    width: 50px;
    font-weight: bolder;
}

.txt-audioIcon {
    color: rgb(0, 185, 242);
    font-size: 27px;
}

.ques{
    /* width: 100%; */
    align-items: center;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.q_box{
    width:  100%;
    height: 70px;
}

.fill_in .img_fillin_gr {
    width: 350px;
    /* height: 85px; */
    position: relative;
}

.fillin_gr .q_space {
    width: 100%;
}
.fillin_set {
    font-family: Arcon;
    color: black;
    width: 79%;
    padding-top: 21px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: url(../images/pages/activities/5-img-3.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 79px;
}

.fillin_set input:focus{
    outline: none;
}

.img_fillin_gr[data-qno="1"] .fillin_set{
    /* height: 79px; */
}

.fillin_set input {
    width: 95px;
    /* flex: 2 2 10px; */
    height: 35px;
    color: black;
    padding-left: 20px;
    border: none;
    margin: 0px 15px;
    background: transparent;
    border-bottom: 2px solid #595a5a;
}

.text_End {
    position: absolute;
    font-size: 23px;
}

.text_Front{
    background: url(../images/pages/activities/5-img-2.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 75px;
    font-size: 23px;
    padding: 5px 15px;
}

.icon_wrap {
    /* position: absolute;
    margin-top: -35px; 
    right: 100px; */
}

.tick,
.cross {
    width: 35px;
}

.tick img,
.cross img {
    width: 100%;
}

.image_wrap {
    display: none;
}

.clue_word {
    padding: 2px 27px;
    font-size: 22px;
}

.word_options {
    width: 100%;
    border-radius: 10px;
    background-color: #c3f4ff8c;
}

.word_opt_sticky {
    width: 100%;
    margin: 0px auto;
    position: -webkit-sticky;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 5;
    border: 2px solid var(--temp);
    border-radius: 10px;
}

.words-list li{
    height: 110px;
    font-weight: bolder;
    color: black;
    border: 1px solid black;
    align-items: center;
    display: flex;
    justify-content: center;
}

.right-content .p-0{
    height: 110px;
    border: 1px solid black;
}

.tips_content img {
    height: 30px;
    width: auto;
    margin-top: 10px;
}

.image-container{
    position: absolute;
    right: 260px;
    bottom: 50px;
    
}

.image-container img{
    width: 300px;
    height: 210px;
    margin: 0px 70px;
    object-fit: cover;
    border-radius: 15px;
    border: 2px solid #36a0c7;
}

/* ************************************************* */
/* ************************************************* */
