.all_cont{
    align-items: center;
}

.q_title b{
    color: rgb(249, 83, 37);
}

.group_elm{
    width: 63%;
    margin: 0px auto;
}

.tick_group {
    margin: 5px auto;
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
}
.que{
    /* padding:19px 100px !important; */
    margin: 8px 8px;
    /* border:1px solid #ececec; */
    border-radius:  5px;
    position: relative;
    width: 100% !important;
    height: 92px;
    align-items: center;
}
.q_part{
    width: 220px;
    height: 90px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 0px;
}
.q_num_space{
    width:27px;
}
.img_space{
    width: 115px;
    /* height: 90%; */
}

.img_space img{
    /* height: 90%; */
    
}

.picks_grp{
    position: absolute;
    top: 0;
    right: 10px;
}

.pick{
    padding: 0px 7px;
    width: 250px;
    height: 85px;
    text-align: center;
    border: 1px solid rgb(255, 255, 252);
    border-radius: 10px !important;
    margin: 0px 20px;
}

.roundedCorners {
    border-radius: 10px;
}

.pick img{
    width: 65% !important;
    height: 100% !important;
    padding: 0px 5px;
    object-fit: contain;
}


.icon_wrap{
    position: absolute;
    top: 0;
    right: 0;
}

.tick, 
.cross{
    width: 25px;
    height: 25px;
}


/* ====================================================== */
/*              Media Queries Start                       */
/* ====================================================== */
    /* ------------------------------------------------ */
    /*              M Q max-width: 1799.98px */
    /* ------------------------------------------------*/
    /* // Large devices (desktops, less than 1800px) */
    @media (max-width: 1799.98px) {    
        .que{
            padding:10px;
        }
    
    }
    /* ------------------------------------------------ */
    /*              M Q max-width: 1399.98px */
    /* ------------------------------------------------*/
    /* // Large devices (desktops, less than 1400px) */
    @media (max-width: 1399.98px) {
        .que {
        padding: 4px;
        }
        .q_part {        
            margin-bottom: 20px;
        }
    }
    /* ------------------------------------------------ */
    /*              M Q max-width: 1199.98px */
    /* ------------------------------------------------*/
    /* // Large devices (desktops, less than 1200px) */
    @media (max-width: 1199.98px) {
    
    
    }
    /* ------------------------------------------------ */
    /*              M Q max-width: 991.98px */
    /* ------------------------------------------------*/
    /* // Medium devices (tablets, less than 992px) 768 to 991.98 */
    @media (max-width: 991.98px) {    
    
    }
    /* ------------------------------------------------ */
    /* M Q max-width: 767.98px */
    /* ------------------------------------------------*/
    /* // Small devices (landscape phones, less than 768px) 576 to 767.98*/
    @media (max-width: 767.98px) {
    
    
    }
    /* ------------------------------------------------ */
    /* M Q max-width: 575.98px */
    /* ------------------------------------------------*/
    /* // Extra small devices (portrait phones, less than 576px) 476 to 575*/
    @media (max-width: 575.98px) {
      
   
    }
    
    /* body working fine 320 to 475 */
    @media (max-width: 475.98px) {  
        .tickBox {
            height: 36px;
            width: 36px;     
            min-width: 36px;
        }
    }
