.mcq_1_5_q_group{
    border: 2px solid rgba(231, 231, 231, 0);    
  }
  .icon_wrap_holder {
    height: 0;
}
  .selectedDefault{
    border-color: rgb(13, 137, 202);
  }
  .picks_grp{
    /* padding-top: 5%; */ 
    padding-right: 12%;
  }
.right_space{
  margin-right: 15px;
}
  .mcq_1_5_q_group{   
    text-align: center;       
    padding: 6px;
    overflow: hidden;
    position:relative;
  }  
  .sub_title, .txt_box{
    text-align: left;
    font-family: Arcon;
    /* font-size: 28px;   */
  }
  .sub_title{
    color: #d02426;
    margin-left: 60px;
  }
  .txt_box{
    min-height: 35px;
  }
  .activityHeading{
    font-family: arcon;
  }
  .selX{  
    height: 30vh;
  }
  .image_space{
    height: 18vh;
    margin: auto;
  }
  .image_space img{
    height: 100%;
  }
  .icon_wrap {
    position: absolute;
    right:0;
  }
  .cont_group {
    position: relative;
    border: 2px solid #e29424;
    padding: 14px;
    border-radius: 20px;
    width: 430px;
    margin: 2px;
    margin-bottom: 50px;
  }
    .cont_group .audioIcon{
    position: absolute;
    bottom: 80px;
  }
  #que_3 .image_space{
	      height: 20vh;
  }
  /**End**/
  
  /* ====================================================== */
  /*              Media Queries Start                       */
  /* ====================================================== */
  /* ------------------------------------------------ */
  /*              M Q max-width: 1199.98px */
  /* ------------------------------------------------*/
  @media (max-width: 1199.98px) {  
    .image_space{
      max-height: 133px;
      min-height: 100px;
    }
  }
  /* ------------------------------------------------ */
  /*              M Q max-width: 991.98px */
  /* ------------------------------------------------*/
  /* // Medium devices (tablets, less than 992px) 768 to 991.98 */
  @media (max-width: 991.98px) {   
   
  }
  /* ------------------------------------------------ */
  /* M Q max-width: 767.98px */
  /* ------------------------------------------------*/
  @media (max-width: 767.98px) {     
    .image_space img{
      height: auto;
      width: 100%;
    }
    .image_space{
      height:  auto !important;
      width: 100%;
      max-height: max-content;
    }
  }
  /* ------------------------------------------------ */
  /* M Q max-width: 575.98px */
  /* ------------------------------------------------*/
  @media (max-width: 575.98px) {  
   .cont_group {
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    min-width: 300px;
	
}
     
   
  }
  /* ------------------------------------------------ */
  /*              M Q max-width: 475.98px             */
  /* ------------------------------------------------*/
  @media (max-width: 475.98px) {    
    /* .mcq_1_5_q_group {  
      width: 100%;
      min-width: 100%;
      height: intrinsic;
height: -moz-max-content;
height: -webkit-max-content;
height: max-content; 
    } */
  }
  @media (max-width: 320px) {  
  
  }
  