.all_cont {
  height: 100%;
  width: 100%;
  display: flex !important;
  justify-content: flex-start !important;
}

.options {
  width: 90%;
}

.audio_icon {
  height: 39px;
  padding: 1px;
}

.screen_elements{
  width: 100% ;
}

.grou_elm{
  /* height: 100%; */
  width: 100%;
  padding: 30px;
  align-items: center;
  justify-content: center;
  flex-direction: unset !important;
  flex-wrap: wrap;
}

.subTitleTextRight b{
  color: red;
}

[class^="group"] {
  width: 350px;
  padding: 5px 15px;
  border-radius: 20px;
  margin: 28px 0px;
  border: 2px solid #7578af;
  position: relative;
}

.fillin_gr input {
  width: 180px;
  /* flex: 1; */
  background-color: transparent;
  border: none;
  border-bottom: 2px solid black;
  margin: 1px;
  text-align: center;
  height: 31px;
  margin: 0 10px;
}

.fillin_gr input:focus {
  outline: none;
}

.img_fillin_gr {
  position: relative;
  margin-bottom: 5px;
  font-size: 24px;
  /* width: 910px; */
}

.fillin_set * {
  display: inline-block;
}

.q_space ,.fillin_set{
  width: 100%;
}

/* .que:nth-child(-1n + 3) {
  background: #f00;
} */

.title {
  border: 1px solid #8f91bf;
  position: absolute;
  top: -42px;
  padding: 0px 20px;
  width: 315px;
  border-radius: 10px 10px 0 0;
  color: #3f3f3f;
  background-color: #77777942;
  font-weight: bolder;
}

.group3 .title {
  width: 345px;
}

.group3 {
  width: 375px;
}

.gru_img:nth-child(5){
  height: 450px;
}

.audioIcon:hover {
  transform: scale(1.05);
}



.gru_img {
  float: right;
  height: 300px;
}

.tick,
.cross {
  width: 32px;
  height: 32px;
}

.clue_word {
  /* margin: 15px; */
  width: 530px;
}

.word_options {
  width: 93%;
  /* border: 2px solid black; */
  border-radius: 20px;
  margin: 20px 0px;
  background-color: white;
}

.word_opt_sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 5;
}

.nextNav {
  right: 0;
}

.backNav {
  left: 0;
}

.images{
  height: 200px;
}

.image-container{
  width: 130px;
  right: 120px;
  bottom: 20px;
}
.image-container img{
  width: 100%;
  margin: 4px;
  border-radius: 15px;
  object-fit: contain;
}

.icon_wrap_holder{
  position: absolute;
  right: 10px;
}

.textEnd{
  text-align: start;
}

.red ,.blue {
  font-weight: bold;
}


/**** popup window ***/

/* ====================================================== */
/*              Media Queries Start                       */
/* ====================================================== */
/* ------------------------------------------------ */
/*              M Q max-width: 1799.98px */
/* ------------------------------------------------*/
/* // Large devices (desktops, less than 1800px) */
@media (max-width: 1799.98px) {}

/* ------------------------------------------------ */
/*              M Q max-width: 1399.98px */
/* ------------------------------------------------*/
/* // Large devices (desktops, less than 1400px) */
@media (max-width: 1399.98px) {}

/* ------------------------------------------------ */
/*              M Q max-width: 1199.98px */
/* ------------------------------------------------*/
/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  .word_options {
    margin-bottom: 1vh;
  }

  .img_fillin_gr {
    width: 100%;
  }
}

/* ------------------------------------------------ */
/*              M Q max-width: 991.98px */
/* ------------------------------------------------*/
/* // Medium devices (tablets, less than 992px) 768 to 991.98 */
@media (max-width: 991.98px) {}

/* ------------------------------------------------ */
/* M Q max-width: 767.98px */
/* ------------------------------------------------*/
/* // Small devices (landscape phones, less than 768px) 576 to 767.98*/
@media (max-width: 767.98px) {}

/* ------------------------------------------------ */
/* M Q max-width: 575.98px */
/* ------------------------------------------------*/
/* // Extra small devices (portrait phones, less than 576px) 476 to 575*/
@media (max-width: 575.98px) {}

/* ------------------------------------------------ */
/*              M Q max-width: 475.98px             */
/* ------------------------------------------------*/
/* body working fine 320 to 475 */
@media (max-width: 475.98px) {}