.all_cont {
  width: 100%;
  /* height: 100%; */
  align-items: center;
}

.tickContent {
  /* text-align: center; */
  height: 40px;
}

.tick_field  {
  width: 250px;
}

.pick {
  background-color: #e9eaea !important;
}

.tickBox {
  height: 38px;
  /* width: 70px; */
  min-width: 38px;
  padding: 0;
  margin: 5px auto;
  border: none;
  /* border: 2px solid #d2232a; */
  border-radius: 10px;
  background-color: transparent;
}

table {
  border-spacing: 0;
  border-collapse: separate;
  border-radius: 15px;
  border: 2px solid #fff;
  overflow: hidden;
  /* background-color: #fedcc6; */
}

td {
  border: solid 1px #fff;
  position: relative;
  height: 58px;
  min-width: 91px  !important;
}

.icon_wrap_holder {
  position: absolute;
  top: 0;
  right: 0;
}

.que_group {
  position: relative;
}
#pick_1_1 {
  /* background-color: #fff !important; */
}
#pick_1_1,#pick_1_2,
#pick_1_3,#pick_1_4,
#pick_1_5,#pick_1_6 {
  background-color: transparent !important;
}

#pick_1_7,#pick_1_13,
#pick_1_19,#pick_1_25,#pick_1_31,#pick_1_37,#pick_1_43{
  /* width: 300px; */
  padding: 2px 30px;
}

.images-border {
  height: 103px;
  border-radius: 50%;
}

.icon_wrap {
  position: absolute;
  top: -45px;
  right: 20px;
}

.tick_group {
  width: 60%;
}

/* ==================================== */
#shakingImage {
  height: 150px;
  position: absolute;
  top: -49px;
  left: -70px;
}

.right_container {
  position: relative;
  margin-left: 60px;
}

.right-image-container {
  margin-top: 0px;
  margin-right: 35px;
  position: relative;
  display: none;
  width: 291px;
  height: 253px;
  background: #f9f9da;
  border: 4px solid #d2232a;
  border-radius: 15px;
}

.right-image {
  width: 350px;
}

.right-image-container .header {
  display: block;
  height: 40px;
  width: 100%;
  background: #d2232a;
  border: 1px solid #f9f9da;
  border-radius: 12px;
}

.textOnImage-container {
  position: absolute;
  top: 2px;
  left: 28px;
  width: 256px;
  font-size: 22px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.right_title {
  color: #fff;
  margin-left: 35px;
  font-size: 26px;
}

.textOnImage-container .orange_text {
  font-weight: bolder;
}
