.all_cont {
    height: 100%;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

.screan_elements {
    width: 90%;
}

.group_elm {
    width: 100%;
}

:root {
    --temp: #68c0f0;
}

.image_gap {
    height: 100%;
    width: intrinsic;
    width: -moz-max-content;
    width: -webkit-max-content;
    width: max-content;
}


.fillin_set {
    display: flex;
}

.fillin_gr input {
    border: none;
    /* width: 190px; */
    flex: 1 1 44.444%; 
    /* margin: auto; */
    outline: none !important;
    background-color: transparent;
  
}

table {
    width: 70%;
    text-align: center;
    margin: 10px auto;
    /* border: 2px solid var(--temp); */
}

.img_fillin_gr {
    width: 100%;
    position: relative;
}

.Box {
    /* font-size: 24px; */
    height: 90px;
    align-items: center;
    width: 400px;
    padding: 5px;
    /* border-radius: 30px; */
    margin:  0px;
    border: 4px solid #c7eafb;
    background-color: #fff;
    border-radius: 20px;
}

.que[data-qno="1"], .que[data-qno="5"], .que[data-qno="9"]{
    /* background-color: #fedcc6; */
    /* border-radius: 20px; */
}

td {
    vertical-align: top;
    /* border: 2px solid var(--temp); */
}

th:first-child .Box{
    /* background-color: #fee0c8; */
    /* font-size: 24px; */
}

th:nth-child(2) .Box{
    /* background-color: #c7eafb; */
}

th:nth-child(3) .Box{
    /* background-color: #b9d980; */
}

th .Box {
    /* background-color: #fbb784; */
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(to left, #e1f4fd, #0084c3);
    color: #000;
    text-align: center;
    justify-content: center;
    /* border-radius: 30px; */
    min-width: 260px;
    /* height: 55px; */
    margin: 10px auto;
    font-size: 33px;
    font-weight: bolder;
    /* color: #3e9150; */
}


.fillin_gr {
    /* width: 100%; */
    position: relative;
}



.fillin_gr .icon_wrap_holder {
    position: absolute;
    top: 10px;
    right: 10px;
}

.icon_wrap {
    position: absolute;
    right: 10px;
}

.tick,
.cross {
    width: 32px;
    height: 32px;
}

.clue_word {
    margin: 3px;
    width: 150px;
}

.word_options {
    width: 75%;
    /* border: 2px solid black; */
    border-radius: 20px;
    margin-bottom: 15px;
    background-color: #fff2e4;
}

.word_opt_sticky {
    position: -webkit-sticky;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 5;
}

.fillin_gr table tr>th {
    /* background-color: #c0fbcd; */
}


.fillin_gr table tr>td:nth-child(2),
.fillin_gr table tr>td:nth-child(2) .Box
{
    /* width: 573px; */
    /* font-size: 24px; */
    /* border: 2px solid red; */
}

.fillin_gr table tr>td:nth-child(3),
.fillin_gr table tr>td:nth-child(3) .Box
{
    /* width: 500px; */
    /* font-size: 24px; */
}


table,
table tr th{
    /* border: 2px solid #245d30; */
}

.fillin_gr table tr>td:nth-child(2) .que  .fillin_set input {
    width: 100%;
    padding: 0px 10px;
}


/**** popup window ***/


/* ====================================================== */


/*              Media Queries Start                       */


/* ====================================================== */


/* ------------------------------------------------ */


/*              M Q max-width: 1799.98px */


/* ------------------------------------------------*/


/* // Large devices (desktops, less than 1800px) */

@media (max-width: 1799.98px) {}


/* ------------------------------------------------ */


/*              M Q max-width: 1399.98px */


/* ------------------------------------------------*/


/* // Large devices (desktops, less than 1400px) */

@media (max-width: 1399.98px) {
    .img_fillin_gr {
        /* width: 60%; */
    }
}


/* ------------------------------------------------ */


/*              M Q max-width: 1199.98px */


/* ------------------------------------------------*/


/* // Large devices (desktops, less than 1200px) */

@media (max-width: 1199.98px) {
    .word_options {
        margin-bottom: 1vh;
    }
}


/* ------------------------------------------------ */


/*              M Q max-width: 991.98px */


/* ------------------------------------------------*/


/* // Medium devices (tablets, less than 992px) 768 to 991.98 */

@media (max-width: 991.98px) {
    .img_fillin_gr {
        width: 85%;
    }
}


/* ------------------------------------------------ */


/* M Q max-width: 767.98px */


/* ------------------------------------------------*/


/* // Small devices (landscape phones, less than 768px) 576 to 767.98*/

@media (max-width: 767.98px) {

    .image_gap {
        margin: auto;
    }

    .img_fillin_gr {
        width: 95%;
    }

    .fillin_set {
        padding-right: 20px;
    }

    .tick,
    .cross {
        width: 20px;
        height: 20px;
    }

}


/* ------------------------------------------------ */


/* M Q max-width: 575.98px */


/* ------------------------------------------------*/


/* // Extra small devices (portrait phones, less than 576px) 476 to 575*/

@media (max-width: 575.98px) {}


/* ------------------------------------------------ */


/*              M Q max-width: 475.98px             */


/* ------------------------------------------------*/


/* body working fine 320 to 475 */

@media (max-width: 475.98px) {
    .img_fillin_gr {
        width: auto;
    }
}